fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
cloudinary
python-multipart
opencv-python
ffmpeg-python
ultralytics
torch
pillow
SpeechRecognition
pydub
imageio-ffmpeg
stripe
