EXPO_PUBLIC_API_URL=https://your-domain.com/api
EXPO_PUBLIC_API_URLS=https://your-domain.com/api,https://your-domain.com
EXPO_PUBLIC_WEB_FRONTEND_URL=https://your-domain.com/
EXPO_PUBLIC_ANDROID_PLAY_BILLING_READY=false
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
